
/* Login View */
.home-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a122a;
}

.logo {
  width: 50%;
  margin-bottom: 4%
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.flex-col {
  display: flex; 
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #0a122a
}


.left-col {
  flex: 1;
  background: transparent;
  overflow-y: scroll;
  background: rgba(0,0,0,0.2);
 
  margin-top: 20px;
  margin-bottom: 20px
}

.right-col {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* border-radius: 30px; */
  padding: 0 30px;
  margin: 0 auto;
}
