
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #0a122a
}

.left-col {
  flex: 1;
  background: transparent;
  overflow-y: scroll;
  background: rgba(0,0,0,0.2);
 
  margin-top: 20px;
  margin-bottom: 20px
}

.right-col {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* border-radius: 30px; */
  padding: 0 30px;
  margin: 0 auto;
}

.green {
  border: 1px solid green;
}
.containerColumn {
  display: flex;
  flex-direction: row;
}
.textCenter {
  text-align: center !important;
  /* float: right !important;  */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}